<div class="m-y-6">
    <h3 class="grey-dotted-border-bottom">ABOUT ME</h3>
    <div class="clearfix">
        <img src="assets/images/profile_pic.jpg" class="simple-border-1 responsive float-start m-r-5"/>
        <p>
            Hello there, let me introduce myself to you first! I am Deewendra Shrestha(or just Dee), I am dad of two amazing boys, a software engineer by
            day, and a very tired gamer by night. Programming has been my hobby since very beginning and I am fortunate enough to be able to continue it as a
            profession too.
        </p>
        <p>
            I started my career as a software engineer on 2006 after freshly graduating from college and I have always
            found myself interested in solving problems and have had curiosity to learn new technologies. I must say I
            have grown to love javascript/typescript and generally love doing front end stuff, although as you can see my css chops
            are not that great.
        </p>

        <p>
            You will find plenty about my professional/personal life here so I will refrain from spilling any details
            here for now. In my spare time I love to cook, enjoy nature by going for a hike or gang up with friends/cousins for some
            <a href="http://www.teamfortress.com" target="_blank" rel="noopener noreferrer">TF2</a> madness.
            I have been trying to ski for a while now and personally I think <strong>pizza</strong> is a scam.
        </p>
    </div>
</div>